<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-dynamsoft-barcode-reader" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>DBR</name>
<js-module name="DBR" src="www/DBR.js"><clobbers target="cordova.plugins.DBR" /></js-module>

<platform name="ios"><config-file parent="/*" target="config.xml">
<feature name="DBR"><param name="ios-package" value="DBR" /></feature>
</config-file><source-file src="src/ios/DBR.m" /><framework custom="true" embed="true" src="src/ios/DynamsoftBarcodeReader.framework" /></platform>

<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="DBR"><param name="android-package" value="com.dynamsoft.cordova.DBR" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml"></config-file>
<source-file src="src/android/com/dynamsoft/cordova/DBR.java" target-dir="src/com/dynamsoft/cordova" /><framework src="src/android/barcodereader.gradle" custom="true" type="gradleReference" /></platform>

</plugin>